In [1]:
import numpy as np
import pandas as pd

In [2]:
main_df = pd.read_csv('./movie_clean_bc.csv', encoding='cp949')
main_df.head()

,계절성여부,상영시간(분),스크린수,비평가 점수,관객 평가(네티즌평가),전체관람가,12세이상관람가,15세이상관람가,배우파워1,배우파워2,...,미스터리,뮤지컬,가족,서부극(웨스턴),공연,성인물(에로),기타,다국적,배급사파워1,총관객수
0,0,120,9,8.5,9.05,0,0,0,92105.0,224182.0,...,0,0,0,0,0,0,0,0,1,18894
1,0,130,11,7.0,8.99,0,0,1,362000.0,76400.0,...,0,0,0,0,0,0,0,1,0,63040
2,0,200,44,1.0,9.36,0,1,0,42.0,42.0,...,0,0,0,0,0,0,0,1,17,400353
3,0,110,6,1.0,3.05,0,0,1,2251491.0,2339410.0,...,0,0,0,0,0,0,0,0,0,3505
4,0,104,21,1.0,6.46,0,0,1,393962.0,223503.0,...,0,0,0,0,0,0,0,0,2,146740

In [5]:
main_df.describe()

,계절성여부,상영시간(분),스크린수,비평가 점수,관객 평가(네티즌평가),전체관람가,12세이상관람가,15세이상관람가,배우파워1,배우파워2,...,미스터리,뮤지컬,가족,서부극(웨스턴),공연,성인물(에로),기타,다국적,배급사파워1,총관객수
count,3288.000000,3288.000000,3288.000000,3288.00000,3288.000000,3288.000000,3288.000000,3288.000000,3.287000e+03,3.286000e+03,...,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3.288000e+03
mean,0.494221,107.418187,247.664842,5.01247,7.697515,0.215937,0.232968,0.349148,9.713407e+05,4.169426e+06,...,0.034976,0.011557,0.045925,0.003345,0.004258,0.000304,0.001521,0.106752,18.663929,6.442798e+05
std,0.500043,18.613681,271.157023,2.26543,8.174883,0.411533,0.422787,0.476773,8.886551e+06,1.531890e+08,...,0.183746,0.106898,0.209353,0.057752,0.065123,0.017440,0.038972,0.308844,17.924865,1.439960e+06
min,0.000000,16.000000,1.000000,1.00000,1.000000,0.000000,0.000000,0.000000,1.000000e+00,1.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00
25%,0.000000,95.000000,54.000000,4.00000,6.980000,0.000000,0.000000,0.000000,1.000000e+00,1.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2.170175e+04
50%,0.000000,106.000000,175.000000,5.72500,7.790000,0.000000,0.000000,0.000000,6.688400e+04,1.747250e+04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,1.144610e+05
75%,1.000000,118.000000,337.000000,6.67000,8.440000,0.000000,0.000000,1.000000,6.283590e+05,4.088085e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.000000,5.735980e+05
max,1.000000,200.000000,2744.000000,9.89000,471.000000,1.000000,1.000000,1.000000,4.182365e+08,8.209024e+09,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,79.000000,1.761368e+07

In [6]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3288 entries, 0 to 3287
Data columns (total 36 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   계절성여부         3288 non-null   int64
 1   상영시간(분)       3288 non-null   int64
 2   스크린수          3288 non-null   int64
 3   비평가 점수        3288 non-null   float64
 4   관객 평가(네티즌평가)  3288 non-null   float64
 5   전체관람가         3288 non-null   int64
 6   12세이상관람가      3288 non-null   int64
 7   15세이상관람가      3288 non-null   int64
 8   배우파워1         3287 non-null   float64
 9   배우파워2         3286 non-null   float64
 10  감독파워          3288 non-null   int64
 11  다양성(독립)영화     3288 non-null   int64
 12  액션            3288 non-null   int64
 13  멜로/로맨스        3288 non-null   int64
 14  판타지           3288 non-null   int64
 15  드라마           3288 non-null   int64
 16  코미디           3288 non-null   int64
 17  어드벤처          3288 non-null   int64
 18  전쟁            3288 non-null   int64
 19  스릴러           3288 non-null   int64
 20  다큐멘터리         3288 non-null   int64
 21  공포(호러)        3288 non-null   int64
 22  애니메이션         3288 non-null   int64
 23  사극            3288 non-null   int64
 24  SF            3288 non-null   int64
 25  범죄            3288 non-null   int64
 26  미스터리          3288 non-null   int64
 27  뮤지컬           3288 non-null   int64
 28  가족            3288 non-null   int64
 29  서부극(웨스턴)      3288 non-null   int64
 30  공연            3288 non-null   int64
 31  성인물(에로)       3288 non-null   int64
 32  기타            3288 non-null   int64
 33  다국적           3288 non-null   int64
 34  배급사파워1        3288 non-null   int64
 35  총관객수          3288 non-null   int64
dtypes: float64(4), int64(32)
memory usage: 924.9 KB

In [9]:
main_df.shape

(3288, 36)

In [16]:
main_df['스크린수'].unique()

array([   9,   11,   44,    6,   21,   35,   22,   40,   18,   15,   17,
         12,   13,   20,    3,   25,   10,    1,    7,    4,   14,   23,
         26,   28,   56,   27,   70,   66,   42,   73,   37,   51,    8,
         82,   34,   83,    2,   41,  177,   88,   68,   57,  185,  164,
         55,   69,   74,  174,   60,  198,  105,   29,  128,   49,   93,
        102,  228,   77,  123,   48,   53,  104,   98,  117,   97,  113,
         72,  110,   96,   86,   76,   90,  100,   59,  127,   58,   61,
         81,   79,  157,   39,  211,  169,   36,  121,  190,  206,   43,
        109,   87,   19,   67,  184,   71,   65,    5,   84,  217,  331,
        203,  329,  299,   16,  189,  359,  273,  182,  152,  147,  129,
        148,  125,  238,  134,  167,  140,   89,  139,   99,  155,   78,
         52,  108,  106,  178,  159,  142,  214,  265,  249,  135,  240,
        112,  247,  264,  244,   85,  124,  272,  158,  111,  243,  302,
        126,  401,  298,  186,  340,  176,  175,  386,  356,  103,  237,
        145,  137,  115,  114,  351,  292,  122,  306,  144,  180,  296,
        262,  202,  151,  170,  181,   80,  194,  183,  277,  116,  606,
        554,  692,  463,  163,  536,  572,  318,  216,  407,  146,  179,
        208,  347,  173,  130,  149,  246,  162,  271,  253,  288,  441,
        131,  514,  210,  338,  276,  136,  373,  120,  366,  204,  456,
        483,  647,  156,  220,  199,  192,  172,  414,  444,  187,  492,
        372,  209,  255,  239,  119,  274,  219,  212,  248,  305,  293,
        420,  783,  561,  683,  339,  688,  389,  721,   32,  195,  218,
        201,  267,  256,  498,   92,  161,  355,  193,  310,  132,  213,
        153,   75,  226,  133,  236,  315,   95,  405,  263,  368,  250,
        150,  260,  806,  284,  953,   63,  620,  332,  863,  768,  232,
        528,   46,  261,  165,  551,  107,  622,   91,  235,  291,  342,
        197,  101,  397,  382,  322,  381,  313,  207,  375,   62,  408,
        229,  280,  326,  314,  324,  227,  231,  633,  598,  349,  289,
        785,  629,  426,  367,  443,  350,  196,  336,  418,  191,  269,
        433,  141,  221,  362,  168,   50,   30,  143,  224,   31,  242,
        394,  311,  278,  592,  412,  604,  771,  160,  361,  563,  417,
        245,   64,  707,  205,  512,  304,  602,  447,  266,  824,  499,
        634,  445,  462,  270,  451,  585,  301,  258,  282,  371,  369,
        285,  520,  200,   54,  453,  341,  779,  478,  588,  449,  279,
        782, 1033,  616,   24,  171,  241,  354,  393,  357,  154,  358,
        353,  138,  387,  225,  475,  328,  391,  543,  702,  642,  569,
        432, 1154,  411,  751,  230,  764,  570,  392,  252,  446,  188,
        251,  376,   45,  330,  215,  316,   47,  586,  234,  876,  166,
        413, 1631,  740, 1168,  472,  665,  323,  384,  334,  294,  319,
        268,   33,  694,  308,  275,  506,  921,  286,  544,  555,  567,
        495,  233,  742,  494,  363,  535,  300,  531,  556,  501,  490,
        399,  259,  337,  525,  415,  321,  312,  283,  344,  423,  222,
        502,  317,  297,  613,  427,  379,  533,  476,  558,  421,  546,
       1023,  890, 1106, 1040,  750,  605,  527,  223,  504,  290,  327,
        325,  524,  457,  496,  403,  960,  948,  587,  377,  345, 1409,
        287,  757,  333,  812,  404,  615,  537,  756,  522,  603,  510,
        435,  385,  471,  360,  643,  787,  700, 1721, 1233,  730,  809,
        474,  593,  530,  398,  713,  383,  550,  343,  617,  508,  548,
        454,  396,  736,  521,  118,  967,  295,  770,  564,  624,  374,
        440,  428, 1118,  759, 1210, 1091,  486,  539,  281,  448,  600,
       1001,  576,  479,  682,  549,  553,  749,  854,  309,  640,  523,
        632, 1308,  671, 1288,  847,  566,  513, 1255,   38,  489,  431,
        866,  459,  894,  507,  429,  425,  477,  552,  766,  724, 1389,
        581,  583,  562,  657,  607,  484, 1341,  998,  964,  541,  480,
        949, 1005,  840,  739,  257, 1128,  691,  402, 1240,  424,  409,
        651,  817,  636,  611,  584,  733,  660,  968,  545,  630,   94,
        850,  406,  889,  983, 1848,  568,  735,  400,  818, 1425,  918,
        395,  458, 1010,  419, 1027,  679,  388,  378,  591,  627,  560,
        582,  720,  952,  594,  303,  390,  511, 1312, 1054,  666,  610,
       1056,  645,  801, 1602,  455,  794,  956, 1394,  829, 1587,  910,
        320,  641,  655,  618,  464,  676,  689,  654,  346, 1519,  590,
       1292,  869,  416, 2010, 1276, 1122,  725, 1124,  500,  709,  621,
        841,  825,  452,  728,  380,  422,  646,  574,  926,  365, 1843,
        436,  430,  799,  776,  697,  532,  482, 1290, 1013, 1113,  931,
        557,  509,  792, 1202, 1115,  437,  648,  804,  659, 1132,  681,
       1114,  410,  662, 1180,  335,  254,  695, 1301, 2050, 1492,  862,
       1323, 1204, 1433,  891,  814,  559,  515,  855,  609, 1365, 1812,
       1036, 1431,  637,  467,  526, 1709,  470,  575, 1991,  348,  460,
       1485,  661, 1262,  481, 1171,  924,  517,  696,  942, 1200,  518,
       1788,  580, 1049,  827,  727,  726,  823, 1105,  716,  765, 1444,
        579,  717,  904,  573, 1278, 1234,  754, 1503,  703,  885, 1760,
        791,  669,  547, 1073, 2744, 1516,  780, 1717,  747])