In [16]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
# install cmake, libomp
from xgboost import XGBRegressor
from sklearn.model_selection import KFold

In [2]:
main_df = pd.read_csv('./movie_clean_bc.csv', encoding='cp949')
#main_df.head()

In [3]:
main_df.describe()

,계절성여부,상영시간(분),스크린수,비평가 점수,관객 평가(네티즌평가),전체관람가,12세이상관람가,15세이상관람가,배우파워1,배우파워2,...,미스터리,뮤지컬,가족,서부극(웨스턴),공연,성인물(에로),기타,다국적,배급사파워1,총관객수
count,3288.000000,3288.000000,3288.000000,3288.00000,3288.000000,3288.000000,3288.000000,3288.000000,3.287000e+03,3.286000e+03,...,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3.288000e+03
mean,0.494221,107.418187,247.664842,5.01247,7.697515,0.215937,0.232968,0.349148,9.713407e+05,4.169426e+06,...,0.034976,0.011557,0.045925,0.003345,0.004258,0.000304,0.001521,0.106752,18.663929,6.442798e+05
std,0.500043,18.613681,271.157023,2.26543,8.174883,0.411533,0.422787,0.476773,8.886551e+06,1.531890e+08,...,0.183746,0.106898,0.209353,0.057752,0.065123,0.017440,0.038972,0.308844,17.924865,1.439960e+06
min,0.000000,16.000000,1.000000,1.00000,1.000000,0.000000,0.000000,0.000000,1.000000e+00,1.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00
25%,0.000000,95.000000,54.000000,4.00000,6.980000,0.000000,0.000000,0.000000,1.000000e+00,1.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2.170175e+04
50%,0.000000,106.000000,175.000000,5.72500,7.790000,0.000000,0.000000,0.000000,6.688400e+04,1.747250e+04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,1.144610e+05
75%,1.000000,118.000000,337.000000,6.67000,8.440000,0.000000,0.000000,1.000000,6.283590e+05,4.088085e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.000000,5.735980e+05
max,1.000000,200.000000,2744.000000,9.89000,471.000000,1.000000,1.000000,1.000000,4.182365e+08,8.209024e+09,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,79.000000,1.761368e+07

In [4]:
#main_df.info()

In [5]:
#main_df.shape[0]

In [6]:
#main_df['15세이상관람가'].unique()

In [7]:
df = main_df

In [8]:
#x_train, x_test, y_train, y_test = train_test_split
df.loc[0:10]

,계절성여부,상영시간(분),스크린수,비평가 점수,관객 평가(네티즌평가),전체관람가,12세이상관람가,15세이상관람가,배우파워1,배우파워2,...,미스터리,뮤지컬,가족,서부극(웨스턴),공연,성인물(에로),기타,다국적,배급사파워1,총관객수
0,0,120,9,8.5,9.05,0,0,0,92105.0,224182.0,...,0,0,0,0,0,0,0,0,1,18894
1,0,130,11,7.0,8.99,0,0,1,362000.0,76400.0,...,0,0,0,0,0,0,0,1,0,63040
2,0,200,44,1.0,9.36,0,1,0,42.0,42.0,...,0,0,0,0,0,0,0,1,17,400353
3,0,110,6,1.0,3.05,0,0,1,2251491.0,2339410.0,...,0,0,0,0,0,0,0,0,0,3505
4,0,104,21,1.0,6.46,0,0,1,393962.0,223503.0,...,0,0,0,0,0,0,0,0,2,146740
5,0,144,35,1.0,8.03,0,0,1,19.0,123062.0,...,0,0,0,0,0,0,0,0,11,298882
6,0,95,22,1.0,4.72,0,1,0,1.0,1.0,...,0,0,0,0,0,0,0,0,21,296125
7,0,116,40,1.0,8.72,0,0,1,118.0,411513.0,...,0,0,0,0,0,0,0,0,20,604969
8,0,85,11,1.0,8.81,1,0,0,1.0,293856.0,...,0,0,0,0,0,0,0,0,3,17184
9,0,104,18,1.0,6.67,0,1,0,4937573.0,1161500.0,...,0,0,0,0,0,0,0,0,7,55656
10,0,113,15,1.0,9.16,1,0,0,1.0,36807.0,...,0,0,1,0,0,0,0,0,3,141716

In [9]:
df = df.drop(['비평가 점수', '관객 평가(네티즌평가)'], axis=1)

In [10]:
y = [idx for idx in range(0, df.shape[0])]
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2, random_state=10)
X_train.head()

,계절성여부,상영시간(분),스크린수,전체관람가,12세이상관람가,15세이상관람가,배우파워1,배우파워2,감독파워,다양성(독립)영화,...,미스터리,뮤지컬,가족,서부극(웨스턴),공연,성인물(에로),기타,다국적,배급사파워1,총관객수
1800,1,141,232,0,1,0,1.0,1.0,1,1,...,0,0,0,0,0,0,0,0,3,459307
766,0,137,52,0,0,1,114995.0,1.0,41853,0,...,0,0,0,0,0,0,0,0,5,7725
3161,1,108,59,0,0,1,209.0,209.0,344,1,...,0,0,0,0,0,0,0,0,32,20314
742,0,117,382,0,0,1,593277.0,1485454.0,891417,0,...,0,0,0,0,0,0,0,0,38,700417
2552,0,98,666,0,0,1,17615039.0,1744585.0,1634051,0,...,0,0,0,0,0,0,0,0,58,2841828

In [11]:
X_train.shape

(2630, 34)

In [12]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 658 entries, 413 to 371
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   계절성여부      658 non-null    int64
 1   상영시간(분)    658 non-null    int64
 2   스크린수       658 non-null    int64
 3   전체관람가      658 non-null    int64
 4   12세이상관람가   658 non-null    int64
 5   15세이상관람가   658 non-null    int64
 6   배우파워1      658 non-null    float64
 7   배우파워2      658 non-null    float64
 8   감독파워       658 non-null    int64
 9   다양성(독립)영화  658 non-null    int64
 10  액션         658 non-null    int64
 11  멜로/로맨스     658 non-null    int64
 12  판타지        658 non-null    int64
 13  드라마        658 non-null    int64
 14  코미디        658 non-null    int64
 15  어드벤처       658 non-null    int64
 16  전쟁         658 non-null    int64
 17  스릴러        658 non-null    int64
 18  다큐멘터리      658 non-null    int64
 19  공포(호러)     658 non-null    int64
 20  애니메이션      658 non-null    int64
 21  사극         658 non-null    int64
 22  SF         658 non-null    int64
 23  범죄         658 non-null    int64
 24  미스터리       658 non-null    int64
 25  뮤지컬        658 non-null    int64
 26  가족         658 non-null    int64
 27  서부극(웨스턴)   658 non-null    int64
 28  공연         658 non-null    int64
 29  성인물(에로)    658 non-null    int64
 30  기타         658 non-null    int64
 31  다국적        658 non-null    int64
 32  배급사파워1     658 non-null    int64
 33  총관객수       658 non-null    int64
dtypes: float64(2), int64(32)
memory usage: 179.9 KB

In [17]:
kf = KFold(n_splits =  10, shuffle = True, random_state = 42)
xgb = XGBRegressor(random_state = 254)

In [ ]:
rmse_list = []

xgb_pred = np.zeros((X_test.shape[0]))

for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    xgb.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in xgb.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in xgb.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    xgb_pred += (sub_pred / 10)