In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('adult.data.csv')
#df

In [3]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [19]:
# problem 1. 테이블의 남자와 여자의 수
# count만 보여주고 싶은데 조교는 어찌 하려나..
df.groupby('sex').age.count()

# .... 엄청 쉽게 푸네
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [20]:
# Problem 2. 남녀 나이 평균
df.groupby('sex').age.mean()

# 조교 풀이
df[df['sex'] == 'Female']['age'].mean()

36.85823043357163

In [21]:
a = df.groupby('native-country').count()
#Germany

# 데이터 확인 방법
df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [22]:
# Problem 3. 독일 국적 사람의 비율
tbl = df['native-country'].value_counts(normalize=True)*100
tbl.Germany

# 조교 풀이 + 내가 푼 풀이 방식도 설명해주네
germany_count = df[df['native-country'] == 'Germany'].shape[0]
entries_count = df.shape[0]
germany_count / entries_count * 100

0.42074874850281013

In [34]:
# Problem 4. 연 소득 50K 이상인 사람들의 평균과 표준편차를 출력, 연 소득이 50K 미만인 사람들의 평균과 표준편차 출력
df[df['fnlwgt'] >= 50*1024]['fnlwgt'].mean()

# feature 잘못 봤네..
df['salary'].unique()
t1 = df.loc[df['salary'] == '>50K', 'age']
t2 = df.loc[df['salary'] == '<=50K', 'age']
t1.mean(), t1.std(), t2.mean(), t2.std()

# 다른 솔루션
df.groupby('salary')['age'].describe()

          count       mean        std   min   25%   50%   75%   max
salary
<=50K   24720.0  36.783738  14.020088  17.0  25.0  34.0  46.0  90.0
>50K     7841.0  44.249841  10.519028  19.0  36.0  44.0  51.0  90.0

In [38]:
# Problem 5. 연 소득 50K이상인 사람들은 고등교육 이상 교육을 받았는지
tmp = df[df['salary'] == '>50K']['education-num'] > 8
if tmp.all() == True:
    print('All data true')
else:
    print('Not All ture')
    
# 조교 풀이
df[df['salary'] == '>50K']['education'].unique()

Not All ture

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [47]:
# Problem 6. groupby, describe를 사용하여 인종, 성별에 따른 나이 통계를 출력
df.groupby(['race','sex'])['age'].describe()

# 조교 풀이
for (race, sex), sub_df in df.groupby(['race', 'sex']):
    print("Race: {}, Sex: {}".format(race, sex))
    print(sub_df['age'].describe())
    print()

Race: Amer-Indian-Eskimo, Sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64

Race: Amer-Indian-Eskimo, Sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64

Race: Asian-Pac-Islander, Sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64

Race: Asian-Pac-Islander, Sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64

Race: Black, Sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64

Race: Black, Sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64

Race: Other, Sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64

Race: Other, Sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64

Race: White, Sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64

Race: White, Sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

In [48]:
# Solve the problem 6 used crosstab method
pd.crosstab(df['race'], df['sex'])

sex                 Female   Male
race
Amer-Indian-Eskimo     119    192
Asian-Pac-Islander     346    693
Black                 1555   1569
Other                  109    162
White                 8642  19174

In [50]:
# Problem 7. 기혼자와 미혼남성 중 소득이 높은 쪽을 확인
df.dtypes
df.head()
df.groupby('relationship').count()

# 조교 풀이
df['marital-status'].unique()
# 앞에 'married' 존재 여부에 따라 결혼 유무 판단

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [58]:
df[(df['marital-status'].str[:7] == 'Married') & (df['sex'] == 'Male')].salary.value_counts()
df[(df['marital-status'].str[:7] != 'Married') & (df['sex'] == 'Male')].salary.value_counts()

<=50K    7552
>50K      697
Name: salary, dtype: int64

In [68]:
# Cross tab을 이용한 풀이 방식
sub_df  = df[df['sex'] == 'Male']
condition1 = sub_df['marital-status'].str[:7] == 'Married'
condition2 = sub_df['salary']

pd.crosstab(condition1, condition2)

salary          <=50K  >50K
marital-status
False            7552   697
True             7576  5965

In [103]:
# make table
tbl1 = df[(df.relationship == 'Unmarried') & (df.sex == 'Male')]
tbl2 = df[(df.relationship != 'Unmarried')]

In [107]:
tbl1.fnlwgt.mean()
tbl2.fnlwgt.mean()

189618.57825862957

In [69]:
# Problem 8. 일주일에 가장 많은 일을 하는 사람의 근무시간을 출력하시오
df['hours-per-week'].max()
# 조교랑 동일

99

In [71]:
# Problem 9. 일주일 근무시간이 가장많은 사람들의 수를 출력하고, 이들 중 연 소득이 50K 이상인 사람들의 비율을 출력하시오
df[df['hours-per-week'] == df['hours-per-week'].max()]['salary'].value_counts(normalize=True) * 100

# 조교랑 동일 할듯...? 각 수를 구해서 풀었는데 내 방식이 더 쉬움
# shape[0] : 0번 피처의 수를 반환하는 듯

<=50K    70.588235
>50K     29.411765
Name: salary, dtype: float64

In [142]:
# Problem 10. 각 나라의 연소득에 따른 근무시간을 출력하시오
df.groupby(['native-country','salary'])['hours-per-week'].mean()

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

In [75]:
# 조교 풀이 방식
for (country, salary), sub_df in df.groupby(['native-country', 'salary']):
    print(country, salary)
    print(round(sub_df['hours-per-week'].mean(), 2))
    print()

? <=50K
40.16

? >50K
45.55

Cambodia <=50K
41.42

Cambodia >50K
40.0

Canada <=50K
37.91

Canada >50K
45.64

China <=50K
37.38

China >50K
38.9

Columbia <=50K
38.68

Columbia >50K
50.0

Cuba <=50K
37.99

Cuba >50K
42.44

Dominican-Republic <=50K
42.34

Dominican-Republic >50K
47.0

Ecuador <=50K
38.04

Ecuador >50K
48.75

El-Salvador <=50K
36.03

El-Salvador >50K
45.0

England <=50K
40.48

England >50K
44.53

France <=50K
41.06

France >50K
50.75

Germany <=50K
39.14

Germany >50K
44.98

Greece <=50K
41.81

Greece >50K
50.62

Guatemala <=50K
39.36

Guatemala >50K
36.67

Haiti <=50K
36.33

Haiti >50K
42.75

Holand-Netherlands <=50K
40.0

Honduras <=50K
34.33

Honduras >50K
60.0

Hong <=50K
39.14

Hong >50K
45.0

Hungary <=50K
31.3

Hungary >50K
50.0

India <=50K
38.23

India >50K
46.48

Iran <=50K
41.44

Iran >50K
47.5

Ireland <=50K
40.95

Ireland >50K
48.0

Italy <=50K
39.62

Italy >50K
45.4

Jamaica <=50K
38.24

Jamaica >50K
41.1

Japan <=50K
41.0

Japan >50K
47.96

Laos <=50K
40.38

Laos >50K
40.0

Mexico <=50K
40.0

Mexico >50K
46.58

Nicaragua <=50K
36.09

Nicaragua >50K
37.5

Outlying-US(Guam-USVI-etc) <=50K
41.86

Peru <=50K
35.07

Peru >50K
40.0

Philippines <=50K
38.07

Philippines >50K
43.03

Poland <=50K
38.17

Poland >50K
39.0

Portugal <=50K
41.94

Portugal >50K
41.5

Puerto-Rico <=50K
38.47

Puerto-Rico >50K
39.42

Scotland <=50K
39.44

Scotland >50K
46.67

South <=50K
40.16

South >50K
51.44

Taiwan <=50K
33.77

Taiwan >50K
46.8

Thailand <=50K
42.87

Thailand >50K
58.33

Trinadad&Tobago <=50K
37.06

Trinadad&Tobago >50K
40.0

United-States <=50K
38.8

United-States >50K
45.51

Vietnam <=50K
37.19

Vietnam >50K
39.2

Yugoslavia <=50K
41.6

Yugoslavia >50K
49.5